# ECE 580 Project Code
## Fake News Detection using SVM and TF-IDF
- Rebecca Du (rrd17)
- Anish Parmar (avp30)

# Imports

In [23]:
import pandas as pd
import numpy as np
import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import string
import nltk
from nltk.corpus import stopwords

In [4]:
#Download NLTK stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rebec\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Step 1: Data Preprocessing

## Overview:

We are using the [ISOT Fake News Kaggle Dataset (2016-2017)](https://www.kaggle.com/datasets/clmentbisaillon/fake-and-real-news-dataset). It is a dataset formed by news articles various sources. 

It is composed of 2 CSV files:
- **'Fake.csv'**: 23,481 articles from various unreliable websites
- **'True.csv'**: 21,417 articles from Reuters.com

Each CSV file contains the following features:
- **Title**: title of the 
- **Text**: The full body of text in the article
- **Subject**: News, Politics, Other
- **Date**: Date of publication in 'Month Day, Year' format

## Step 1a: Load, Label, Combine Datasets

Since the Fake and True datasets are provided separately, we first **assign them labels and concatenate them into one dataframe**, which will be randomized and later used for training and testing our model.

In [8]:
#Load datasets as dataframes
fake_df = pd.read_csv('Data/Fake.csv')
true_df = pd.read_csv('Data/True.csv')

In [9]:
#Check fake_df
fake_df

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [10]:
#Check true_df
true_df

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [11]:
#Label fake_df values as '0', true_df values as '1'
fake_df['label'] = 0
true_df['label'] = 1

#Combine datasets into one
data = pd.concat([fake_df, true_df], ignore_index=True)

#Check data
data

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

## Step 1b: Combine Relevant Columns into 'Content'

Since we are mostly focused on the content of the articles, we will combine the title with the text columns and drop everything except the 'content' and 'label' columns

In [13]:
#Combine title and text into 'content' column
data['content'] = data['title'] + ' ' + data['text']

#Drop other columns (except for label)
data = data.drop(columns=['title', 'text', 'subject', 'date'])

#Check data
data

       label                                            content
0          0   Donald Trump Sends Out Embarrassing New Year’...
1          0   Drunk Bragging Trump Staffer Started Russian ...
2          0   Sheriff David Clarke Becomes An Internet Joke...
3          0   Trump Is So Obsessed He Even Has Obama’s Name...
4          0   Pope Francis Just Called Out Donald Trump Dur...
...      ...                                                ...
44893      1  'Fully committed' NATO backs new U.S. approach...
44894      1  LexisNexis withdrew two products from Chinese ...
44895      1  Minsk cultural hub becomes haven from authorit...
44896      1  Vatican upbeat on possibility of Pope Francis ...
44897      1  Indonesia to buy $1.14 billion worth of Russia...

[44898 rows x 2 columns]

## Step 1c: Preprocessing

Next, we will do some simple cleaning of the 'content' column:
- Convert it to lowercase
- Remove punctuation
- Remove stopwords

In [25]:
#Create a function for the data preprocessing tasks
def preprocessing(text):
    #Turn to lowercase
    text = text.lower()

    #Remove punctuation 
    text = re.sub(r'[^\w\s]', '', text)

    #Remove stopwords
    #Split text into individual words
    split_text = text.split()
    cleaned_text = []
    
    for word in split_text:
        if word not in stop_words:
            #Only keep non-stop word words
            cleaned_text.append(word)

    #Recombine into one string
    rejoined_text = ' '.join(cleaned_text)

    return rejoined_text

In [27]:
#Apply preprocessing function to data
data['content'] = data['content'].apply(preprocessing)

#Check to make sure it looks right
data

       label                                            content
0          0  donald trump sends embarrassing new years eve ...
1          0  drunk bragging trump staffer started russian c...
2          0  sheriff david clarke becomes internet joke thr...
3          0  trump obsessed even obamas name coded website ...
4          0  pope francis called donald trump christmas spe...
...      ...                                                ...
44893      1  fully committed nato backs new us approach afg...
44894      1  lexisnexis withdrew two products chinese marke...
44895      1  minsk cultural hub becomes authorities minsk r...
44896      1  vatican upbeat possibility pope francis visiti...
44897      1  indonesia buy 114 billion worth russian jets j...

[44898 rows x 2 columns]

## Step 1d: Train/Validation/Test Splitting

Now, we will split our cleaned data into training, validation, and testing sets. This will be useful for tuning hyperparameters and assessing model performance later on. 

The split we will choose is: 
- **Train**: 70%
- **Validation**: 15%
- **Test**: 15%

In [31]:
#Split into features (X) and labels (y)
X = data['content']
y = data['label']

In [33]:
#Shuffle data
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

#Create split
train_size = int(0.7 * len(data))
val_size = int(0.15 * len(data))

#Apply split to data
train = data[:train_size]
val = data[train_size:train_size + val_size]
test = data[train_size + val_size:]

#Get features and labels for each split
X_train, y_train = train['content'], train['label']
X_val, y_val = val['content'], val['label']
X_test, y_test = test['content'], test['label']

## Step 1e: Apply TF-IDF Vectorization

**TF-IDF** is a combination of 2 terms:
- **Term Frequency (TF)**: how frequently a term appears in one given document ($d$), calculated as:
$$
\text{TF(term, document)} = \frac{\text{Number of times the term appears in the document}}{\text{Total number of terms in the document}}
$$

- **Inverse Document Frequency (IDF)**: how unique the term ($t$) is across all the documents ($d$), calculated as:
$$
\text{IDF(term, corpus)} = \log \left( \frac{\text{Total number of documents}}{\text{1 + Number of documents containing the term}} \right)
$$

In practice, TF-IDF is a weighting technique that **gives higher weight to**:
- **High TF score** (frequent in one document)
- and **Low IDF score** (not too common across all documents)

Specifically, we will apply a **Unigram** TF-IDF vectorization method. This means that we will use **single words** (no phrases or pairs of words).

**We will fit the vectorizer on the training data only** to avoid 'cheating' (aka allowing the model to learn from the data in the validation/testing sets, which would give it an unfair advantage in later testing). We will then transform all the splits.

This will result in sparse matrices that transform the words of the text into numerical values suitable for the SVM to interpret.

In [46]:
#Initialize TF-IDF Vectorizer
vectorizer = TfidfVectorizer(
    ngram_range=(1, 1),       #Unigrams
    stop_words='english'      #Remove stop words again (just in case)
)

In [48]:
#Fit vectorizer on training data ONLY and transform
X_train_tfidf = vectorizer.fit_transform(X_train)

#Transform (NO FITTING TO AVOID CHEATING) validation, test sets
X_val_tfidf = vectorizer.transform(X_val)
X_test_tfidf = vectorizer.transform(X_test)

# Step 2: Implementing SVM

- Please add comments in the code on what you did, and a brief description here about the **concepts** the following code covers, and what the result should be!